.table {
  border: 2px solid #e4e9f0;
  margin: 0 auto;
}

.tr {
  height: 70px;
  color: #fff;
  background-color: rgb(66, 166, 224);
}

.td {
  width: 300px;
  height: 50px;
  color: #9b9494;
  text-align: center;
  border: 1px solid #e4e9f0;
}
