.description-img {
  margin-top: 25px;
  width: 100px;
  border-radius: 50%;
}

.description-name {
  font-size: 14px;
  font-weight: 900;
  color: #000000;
}

.description-text {
  font-size: 14px;
  color: #6e6e6e;
}
