.avatar {
  padding-top: 15px;
  width: 100px;
  border-radius: 50%;
}

.description {
  margin: 0;
  padding: 0;
}

.name {
  font-size: 14px;
}
.tag {
  font-size: 14px;
}
.location {
  font-size: 14px;
}
